@import '../../../../styles/abstracts/variables';

section {
  // font-family: $font-regular;
  --bs-gutter-x: 0rem;

  .wrapper {
    --bs-gutter-x: 0rem;

    .members {
      --bs-gutter-x: 0rem;

      .member {
        position: relative;
        transition: 10s;
        padding: 0px !important;

        img {
          width: 100%;

        }

        &:hover {

          .card-body {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0px;
            background-color: rgba(255, 255, 255, 0.253);
            color: white;

            .card-text {
              margin-inline-start: 1rem;
              margin-block-end: 1rem;
            }
          }
        }

        .card-body {
          display: none;

        }
      }
    }

    .members-title {
      background-color: $light-blue-color;
      font-family: $font-bold;
      color: white;
      --bs-gutter-x: 0rem;
    }
  }
}