<section class="row">
  <div class="wrapper row col-12">
    <div class="col-9 members row">
      <div class="member col-4">
        <img src="/images/about/member.png" class="card-img-top" alt="..." />
        <div class="card-body flex-column justify-content-end">
          <p class="card-text">الأسم: محمود سماحه</p>
          <p class="card-text">الوظيفة: عضو مجلس إدارة</p>
        </div>
      </div>
      <div class="member col-4">
        <img src="/images/about/member.png" class="card-img-top" alt="..." />
        <div class="card-body flex-column justify-content-end">
          <p class="card-text">الأسم: محمود سماحه</p>
          <p class="card-text">الوظيفة: عضو مجلس إدارة</p>
        </div>
      </div>
      <div class="member col-4">
        <img src="/images/about/member.png" class="card-img-top" alt="..." />
        <div class="card-body flex-column justify-content-end">
          <p class="card-text">الأسم: محمود سماحه</p>
          <p class="card-text">الوظيفة: عضو مجلس إدارة</p>
        </div>
      </div>
      <div class="member col-4">
        <img src="/images/about/member.png" class="card-img-top" alt="..." />
        <div class="card-body flex-column justify-content-end">
          <p class="card-text">الأسم: محمود سماحه</p>
          <p class="card-text">الوظيفة: عضو مجلس إدارة</p>
        </div>
      </div>
      <div class="member col-4">
        <img src="/images/about/member.png" class="card-img-top" alt="..." />
        <div class="card-body flex-column justify-content-end">
          <p class="card-text">الأسم: محمود سماحه</p>
          <p class="card-text">الوظيفة: عضو مجلس إدارة</p>
        </div>
      </div>
      <div class="member col-4">
        <img src="/images/about/member.png" class="card-img-top" alt="..." />
        <div class="card-body flex-column justify-content-end">
          <p class="card-text">الأسم: محمود سماحه</p>
          <p class="card-text">الوظيفة: عضو مجلس إدارة</p>
        </div>
      </div>
    </div>
    <div
      class="col-3 members-title row flex-column justify-content-center align-items-center"
    >
      <img src="/images/about/group-users.png" alt="" class="w-50" />
      <h2 class="col-12 text-center">أعضاء مجلس الإدارة</h2>
    </div>
  </div>
</section>
