<section class="row text-white">
  <div class="col-md-6 text-container">
    <div class="col-12 mb-4">
      <h1>
        {{ "herosection.firstHeader" | translate }} <br />
        {{ "herosection.lastHeader" | translate }}
      </h1>
    </div>
    <div class="col-12 translate-btns d-flex align-items-center mb-3">
      <button
        type="button"
        class="btn py-1 px-2 col-2"
        (click)="changeLang('ar')"
        [ngClass]="{ 'choosen-btn': currentLang == 'ar' }"
      >
        {{ "herosection.ar" | translate }}
      </button>
      <span class="splitter"></span>
      <button
        type="button"
        class="btn py-1 px-2 col-2 mx-2"
        (click)="changeLang('en')"
        [ngClass]="{ 'choosen-btn': currentLang == 'en' }"
      >
        {{ "herosection.en" | translate }}
      </button>
    </div>
    <div class="col-12">
      <!-- <p>ثـــــروات الــبــحــــــار</p> -->
      <p style="letter-spacing: 33px">TharawatSeas</p>
    </div>
  </div>
  <div class="col-md-6"></div>
</section>
