@import '../../../../styles/abstracts/variables';

section {
  color: $dark-blue-color;
  background-color: $sky-color;

  h2 {
    font-family: $font-bold;
    font-size: 2.5rem;
  }

  .shapes {
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px
  }
}




.slider {
  // display: none;


  .img-wrap {
    width: 100%;

    .service {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px;
      margin-inline: 1rem;
      margin-block: 1rem;
      padding-top: 1rem;
      padding-inline: 1rem;
      position: relative;
      border-radius: 3rem;
      transition: .4s;
      box-shadow: 0px 4px 9px 0px #00000033;
      text-align: center;

      img {
        width: 46px;
        height: 46px;
        // animation: MoveUpDown 2s linear infinite;
        //-webkit-animation: MoveUpDown 2s linear infinite;
        transition: .4s;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
      }
    }


    h6 {
      font-family: $font-bold;
      color: $red-color;
      margin-top: 1rem;
      transition: .4s;
    }

    p {
      color: $dark-blue-color;
      white-space: break-spaces;
      text-align: center;
    }



  }

}