<section
  class="mt-4 d-flex flex-column position-relative justify-content-center align-items-center"
>
  <h2 class="my-4 w-100 d-flex justify-content-center align-items-center">
    {{ "contact-us" | translate }}
  </h2>
  @if (websiteData() && websiteData().length ) {
  <div class="row w-100 justify-content-evenly">
    <a
      class="col-md-3 mx-md-0 contact-card rounded-4 py-2 d-flex justify-content-center align-items-center"
    >
      <i class="fi fi-ss-marker d-flex mx-2"></i>
      <p class="m-0">{{ websiteData()[0].Address }}</p>
    </a>
    <a
      href="tel:{{ websiteData()[0].Phone }}"
      class="col-md-3 mx-md-0 contact-card rounded-4 py-2 d-flex justify-content-center align-items-center"
    >
      <i class="fi fi-sr-phone-call d-flex mx-2"></i>
      <p class="m-0">{{ websiteData()[0].Phone }}</p>
    </a>
    <a
      href="mailto:{{ websiteData()[0].Email }}"
      class="col-md-3 mx-md-0 contact-card rounded-4 py-2 d-flex justify-content-center align-items-center"
    >
      <i class="fi fi-sr-envelope d-flex mx-2"></i>
      <p class="m-0">{{ websiteData()[0].Email }}</p>
    </a>
  </div>
  }

  <app-footer class="position-absolute"></app-footer>
</section>
