@import '../../../../styles/abstracts/variables';

section {
  color: $dark-blue-color;
  font-family: $font-bold;

  h2 {
    font-family: $font-bold;
    font-size: 2.5rem;
  }

  p {
    font-family: $font-bold;
  }

  .shapes {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
  }

  .contact-card {
    color: $dark-blue-color;
    border: 1px solid $dark-blue-color;
    background-color: white;
    font-family: $font-bold;
    text-decoration: none;
  }
}

app-footer {
  bottom: -270px;
  width: 100%;
  z-index: -1;

  @media (max-width:768px) {
    position: relative !important;
    bottom: 0px;
  }
}