<section
  class="mt-4 d-flex flex-column position-relative justify-content-center align-items-center"
>
  <h2 class="my-4 w-100 d-flex justify-content-center align-items-center">
    تواصل معنا
  </h2>
  <div class="row w-100 justify-content-evenly">
    <div
      class="col-md-3 mx-md-0 contact-card rounded-4 py-2 d-flex justify-content-center align-items-center"
    >
      <i class="fi fi-ss-marker d-flex mx-2"></i>
      <p class="m-0">الرياض،المملكة العربية السعودية</p>
    </div>
    <div
      class="col-md-3 mx-md-0 contact-card rounded-4 py-2 d-flex justify-content-center align-items-center"
    >
      <i class="fi fi-sr-phone-call d-flex mx-2"></i>
      <p class="m-0">( 202 ) 24044464</p>
    </div>
    <div
      class="col-md-3 mx-md-0 contact-card rounded-4 py-2 d-flex justify-content-center align-items-center"
    >
      <i class="fi fi-sr-envelope d-flex mx-2"></i>
      <p class="m-0">admin&#64;admin.org.sa</p>
    </div>
  </div>
  <app-footer class="position-absolute"></app-footer>
</section>
