<app-header class="position-relative"></app-header>
<section class="container-fluid">
  <div
    class="news-title col-12 row justify-content-center align-content-center align-items-center"
  >
    <img src="/images/news/news-icon.png" alt="" class="col-12" />
    <h2 class="col-12 text-center text-white">
      {{ "news.title" | translate }}
    </h2>
  </div>
  <div class="news row justify-content-center align-items-stretch">
    @for (service of servicesSectionData; track $index) {

    <div
      [routerLink]="['/service/', service.Id]"
      class="card d-flex justify-content-center align-items-center flex-column col-md-5 col-12 p-0 mx-3 mb-4"
    >
      <img
        class="card-img-top col-12 rounded-5"
        src="{{ service.ImagePath1 }}"
        alt="Title"
      />
      <div class="icon d-flex justify-content-center align-items-center">
        <img src="{{ service.IconPath }}" alt="" class="" />
      </div>
      <div
        class="card-body d-flex flex-column justify-content-center align-items-center"
      >
        <h5 class="card-title">{{ service.Name }}</h5>
        <p class="card-text">{{ service.Desc }}</p>
      </div>
    </div>
    }
  </div>
</section>
<app-footer></app-footer>
