$dark-blue-color: #173667;
$light-blue-color: #0867B2;
$sky-color: #F6F8FF;
$red-color: #DB222E;
$dark-red: #751219;
$font-bold: "ge-dinar-bold";
$font-regular: "ge-dinar-regular";
$font-bold-en: "nunito-bold";
$font-regular-en: "nunito-regular";