@import '../../../../styles/abstracts/variables';

section {
  color: $dark-blue-color;
  background-color: white;

  h2 {
    font-family: $font-bold;
    font-size: 2.5rem;
  }

  .shapes {
    position: absolute;
    z-index: 0;
    top: 0px;
    right: 0px
  }
}




.customer-slider {

  .img-wrap {
    width: 100%;

    .customer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px;
      margin-inline: 1rem;
      margin-block: 1rem;
      padding-top: 1rem;
      padding-inline: 1rem;
      position: relative;
      border-radius: 3rem;
      transition: .4s;
      text-align: center;

      &:hover {
        translate: 0px -10px;
        cursor: pointer;

        img {
          animation: MoveUpDown 1.5s linear infinite;
        }
      }

      img {
        transition: .4s;
      }
    }


    h6 {
      font-family: $font-bold;
      color: $red-color;
      margin-top: 1rem;
      transition: .4s;
    }

    p {
      color: $dark-blue-color;
      white-space: break-spaces;
      text-align: center;
    }



  }

}


@keyframes MoveUpDown {

  0%,
  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }

  50% {
    transform: translateY(15%);
    -webkit-transform: translateY(15%);
    -moz-transform: translateY(15%);
    -ms-transform: translateY(15%);
    -o-transform: translateY(15%);
  }
}