@import '../../../../styles/abstracts/variables';

section {
  background: linear-gradient(0deg, rgb(1, 30, 46), rgb(255 255 255 / 10%), rgba(0, 0, 0, 0.5)),
    url(/images/about/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  font-family: $font-bold;

  .text-container {

    @media (max-width:1024px) {

      &:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .wrapper {
    @media (max-width:550px) {
      h1 {
        font-size: 2rem;

      }

      p {
        letter-spacing: 13px !important;
      }
    }
  }

  h1 {
    font-size: 3.2rem;
    line-height: 1.5;
  }

  .translate-btns {
    position: relative;

    button {
      background-color: transparent;
      color: white;
      border-radius: 2rem;
    }

    button.choosen-btn {
      background-color: white;
      color: $red-color;
      border-radius: 2rem;
      width: 25%;
    }

    .splitter {
      width: 1px;
      height: 30px;
      margin-inline-start: 11px;
      background-color: white;
    }
  }
}