@import '../../../../styles/abstracts/variables';

section {
  height: 607px;
  width: 100%;
  margin-bottom: 4rem;

  .text-container {

    @media (max-width:1024px) {

      &:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .wrapper {
    @media (max-width:550px) {
      h2 {
        font-size: 2rem;
        font-family: $font-bold;
      }
    }

    .section-body {
      img {
        width: 110px;
        height: 110px;
      }

      p {
        word-wrap: 1rem;
        font-size: 1.2rem;
      }
    }
  }

  h1 {
    font-size: 2rem;
    line-height: 1.5;
    background-color: $dark-blue-color;
    padding-inline: 1.1rem;
    padding-block: .6rem;
    border-radius: 2.5rem;
  }

}