@import '../../../styles/abstracts/variables';

:host {
  display: block;
  background-color: $sky-color;

}

section {
  background-image: url(/images/about/bg.png);
  background-repeat: no-repeat;
  // background-size: cover;
  background-size: 100% 770px;
  width: 100%;
  font-family: $font-bold;

}