header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .header-buttons {



    /* Space between buttons */
    button {
      color: white;
      width: 100px;
    }

    .home {
      background-color: #009990;

      &:hover {
        background-color: #00ada2;
      }
    }

    .exit {
      border: 2px solid #009990;

      &:hover {
        background-color: #009990;
        border: none;
      }
    }
  }
}