<section
  class="row my-4 position-relative justify-content-center align-items-center"
>
  <h2 class="my-4 d-flex justify-content-center align-items-center">الأخبار</h2>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9 news">
      @for (news of defaultData; track $index) {
      <div
        class="col-10 one-news d-flex justify-content-evenly align-items-center"
      >
        <img src="{{ news.image }}" alt="" />
        <p class="mb-0">{{ news.description }}</p>
      </div>
      }
    </div>
  </div>

  <!-- bg shapes -->
  <div class="d-flex justify-content-start align-items-center shapes"></div>
</section>
