app-header {
  z-index: 8;
}

app-hero-section {
  z-index: 7;
}

app-about-section {
  z-index: 6;
}

app-services-section {
  z-index: 5;
}

app-customers-section {
  z-index: 4;
}

app-news-section {
  z-index: 3;
}

app-contact-section {
  z-index: 2;
}

app-footer-section {
  z-index: 1;

}