<div class="mx-5 position-relative">
  <app-header class="position-relative"></app-header>
  <!-- <app-hero-section class="position-relative"></app-hero-section> -->
</div>
<div class="position-relative">
  <!-- <app-about-section class="position-relative"></app-about-section>
  <app-services-section class="position-relative"></app-services-section>
  <app-customers-section class="position-relative"></app-customers-section> -->
  <app-news-section class="position-relative"></app-news-section>
</div>
