<!-- <div class="gradient"></div> -->
<!-- <img class="bG" src="/images/opening-screen/img1.png" alt=""> -->
<!-- <img class="bG" src="../../../assets/images/slider-techze-13.jpg" alt=""> -->

<section class="row d-flex justify-content-center">
  <h1 class="col-12 d-flex justify-content-center align-items-center text-white">“ Generation Information with AI “</h1>

  <div class="form-wrapper row d-flex justify-content-center align-items-center col-12">


    <form [formGroup]="loginForm" class="col-12 row w-75 ">
      <h3 class=" col-12 d-flex justify-content-center align-items-center fs-2 text-capitalize">
        Log in
      </h3>
      <div class="d-flex justify-content-center flex-column col-12">
        <label for="username" class="mb-1 fs-5 text-capitalize">user name</label>
        <input id="username" class="form-control-lg" formControlName="userName" name="username"
          [class.is-invalid]="userName?.invalid && userName?.touched" [class.is-valid]="userName?.valid">
        @if(userName?.errors?.['required'] && userName?.touched){
        <small id="" class="form-text text-danger mt-1">This field is required</small>
        }
      </div>
      <div class="d-flex flex-column col-12">
        <label for="password" class="mb-1 fs-5 text-capitalize">password</label>
        <input id="password" type="password" class="form-control-lg" formControlName="password" name="password"
          [class.is-invalid]="password?.invalid && password?.touched" [class.is-valid]="password?.valid">
        @if(password?.errors?.['required'] && password?.touched){
        <small id="" class="form-text text-danger mt-1">This field is required</small>

        }
      </div>
      <div class="col-12 mt-5">
        <button type="submit" [routerLink]="['/admin/home']"
          class="btn   d-flex justify-content-center align-items-center align-self-center fw-bold  w-100 "
          [disabled]="loginForm.invalid">Login to Generation Gate
          <i class="fa-solid fa-right-to-bracket"></i>
        </button>
      </div>
    </form>
  </div>
</section>
