@import '../../../../styles/abstracts/variables';

header {
  font-family: $font-bold;
  color: white;
  width: 100%;
  z-index: 1000;
  padding: 10px;

  .logo {
    margin-bottom: -60px;
  }

  a {
    color: $dark-blue-color;
  }

  .contact-btn {
    background-color: $light-blue-color;
    color: white;
    border-radius: 2rem;
  }

  .social-btn {
    color: white;


    img {
      width: 43px;
    }
  }

  ul {

    li {
      position: relative;
    }

    li:not(:last-child) {
      border-inline-end: 1px solid $dark-blue-color;
    }
  }

}