<header class="">
  <nav class="navbar navbar-expand-xl">
    <div class="container-fluid">
      <div class="logo col-md-2">
        <img src="/images/header-logo.png" alt="" class="w-75" />
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#tharwat-navbar"
        aria-controls="tharwat-navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse row col-10" id="tharwat-navbar">
        <ul
          class="navbar-nav justify-content-xl-evenly position-relative me-auto mb-2 mb-lg-0 col-xl-8 mt-xl-0 mt-5"
        >
          <li class="nav-item text-center text-lg-end" routerLink="/home">
            <a class="nav-link">{{ "header.home" | translate }}</a>
          </li>
          <li class="nav-item text-center text-lg-end">
            <a class="nav-link">{{ "header.About" | translate }}</a>
          </li>
          <li class="nav-item text-center text-lg-end">
            <a class="nav-link">{{ "header.Services" | translate }}</a>
          </li>
          <li class="nav-item text-center text-lg-end">
            <a class="nav-link">{{ "header.Customers" | translate }}</a>
          </li>
          <li class="nav-item text-center text-lg-end">
            <a class="nav-link">{{ "header.News" | translate }}</a>
          </li>
          <li class="nav-item text-center text-lg-end">
            <a class="nav-link">{{ "header.Gallery" | translate }}</a>
          </li>
          <li class="nav-item text-center text-lg-end">
            <a class="nav-link">{{ "header.Media" | translate }}</a>
          </li>
        </ul>
        <button type="button" class="btn contact-btn py-2 px-3 col-lg-2">
          {{ "header.Contact-us" | translate }}
        </button>
        <div
          class="col-lg-2 mt-3 mt-xl-0 d-flex justify-content-evenly align-items-center"
        >
          <button
            type="button"
            class="btn social-btn d-flex justify-content-center align-items-center p-0"
          >
            <img src="images/facebook.png" alt="" class="" />
          </button>
          <button
            type="button"
            class="btn social-btn d-flex justify-content-center align-items-center p-0"
          >
            <img src="images/instagram.png" alt="" class="" />
          </button>
          <button
            type="button"
            class="btn social-btn d-flex justify-content-center align-items-center p-0"
          >
            <img src="images/tiktok.png" alt="" class="" />
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
