@import '../../../../styles/abstracts/variables';

header {
  font-family: $font-bold;
  color: white;
  width: 100%;
  z-index: 1000;
  padding: 10px;

  .logo {
    margin-bottom: -60px;
  }

  a {
    color: $dark-blue-color;
  }

  .contact-btn {
    background-color: $light-blue-color;
    color: white;
    border-radius: 2rem;
  }

  .social-btn {
    color: white;


    img {
      width: 43px;
    }
  }

  ul {

    li {
      position: relative;
    }


    li:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 15%;
      left: -12px;
      right: auto;
      width: 1px;
      background-color: $dark-blue-color;
      height: 30px;

      [dir="ltr"] &::after {
        left: auto;
        right: -12px;
        background-color: red !important;
      }

      @media (max-width:1200px) {
        display: none;
      }
    }
  }

}