/* You can add global styles to this file, and also import other style files */
@import './styles/main.scss';
@import './styles/abstracts/variables';
@import "@flaticon/flaticon-uicons/css/all/all";

body {
  font-family: "ge-dinar-regular";
}

@font-face {
  font-family: ge-dinar-regular;
  src: url("/fonts/alfont_com_GE-Dinar-One-Regular.otf")
}

@font-face {
  font-family: ge-dinar-bold;
  src: url("/fonts/alfont_com_GE-Dinar-One-Bold.otf")
}


// service slider
.slider .owl-nav {
  display: flex;
  justify-content: center;
  width: 100%;

  pointer-events: none;
  /* Let inner buttons handle clicks */
}

.slider .owl-nav .owl-prev,
.slider .owl-nav .owl-next {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: $light-blue-color;
  color: white;
  margin-bottom: 1rem;
  font-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slider .owl-nav .owl-prev:hover,
.slider .owl-nav .owl-next:hover {
  background-color: $dark-blue-color;
}

// customers slider
.customer-slider .owl-carousel {
  position: relative !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;

  .owl-stage-outer {
    width: 75%;
  }
}

.customer-slider .owl-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 40%;
  pointer-events: none;
  /* Let inner buttons handle clicks */
}

.customer-slider .owl-nav .owl-prev,
.customer-slider .owl-nav .owl-next {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: $light-blue-color;
  color: white;
  font-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.customer-slider .owl-nav .owl-next {
  margin-inline-end: 10rem !important;
}

.customer-slider .owl-nav .owl-prev {
  margin-inline-start: 10rem !important;
}

.customer-slider .owl-nav .owl-prev:hover,
.customer-slider .owl-nav .owl-next:hover {
  background-color: $dark-blue-color;
}