/* You can add global styles to this file, and also import other style files */
@import './styles/main.scss';
@import './styles/abstracts/variables';
@import "@flaticon/flaticon-uicons/css/all/all";




@font-face {
  font-family: ge-dinar-regular;
  src: url("/fonts/alfont_com_GE-Dinar-One-Regular.otf")
}

@font-face {
  font-family: ge-dinar-bold;
  src: url("/fonts/alfont_com_GE-Dinar-One-Bold.otf")
}

@font-face {
  font-family: nunito-regular;
  src: url("/fonts/Nunito-Regular.ttf")
}

@font-face {
  font-family: nunito-bold;
  src: url("/fonts/Nunito-Bold.ttf")
}

html {
  font-family: "ge-dinar-regular" !important;
}

html[dir=ltr] {
  font-family: "nunito-regular" !important;

  body {
    font-family: "nunito-regular" !important;
  }

  h1,
  h2,
  h3,
  h6,
  small,
  button,
  header,
  p {
    font-family: $font-bold-en !important;

    li:not(:last-child)::after {
      content: "";
      position: absolute;
      height: 30px;
      width: 2px;
      background-color: $dark-blue-color;
      top: 5px;
      right: -10px !important;
      left: auto !important;
    }

    a {
      font-family: $font-bold-en !important;
    }
  }





}

body {
  font-family: "ge-dinar-regular";
}



.shapes {
  @media (max-width:768px) {
    display: none !important;
  }
}

.left-shapes {
  @media (max-width:768px) {
    display: none !important;
  }
}

// service slider
.slider .owl-nav {
  display: flex;
  justify-content: center;
  width: 100%;

  pointer-events: none;
  /* Let inner buttons handle clicks */
}

.slider .owl-nav .owl-prev,
.slider .owl-nav .owl-next {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: $light-blue-color;
  color: white;
  margin-bottom: 1rem;
  font-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slider .owl-nav .owl-prev:hover,
.slider .owl-nav .owl-next:hover {
  background-color: $dark-blue-color;
}

// customers slider
.customer-slider .owl-carousel {
  position: relative !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;

  .owl-stage-outer {
    width: 75%;

    @media (max-width:1024px) {
      width: 100% !important;
    }
  }
}

.customer-slider .owl-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 40%;
  pointer-events: none;
  /* Let inner buttons handle clicks */
}

.customer-slider .owl-nav .owl-prev,
.customer-slider .owl-nav .owl-next {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: $light-blue-color;
  color: white;
  font-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.customer-slider .owl-nav .owl-next {
  margin-inline-end: 10rem !important;

  @media (max-width:1024px) {
    margin-inline-end: 1rem !important;
  }
}

.customer-slider .owl-nav .owl-prev {
  margin-inline-start: 10rem !important;

  @media (max-width:1024px) {
    margin-inline-start: 1rem !important;
  }
}

.customer-slider .owl-nav .owl-prev:hover,
.customer-slider .owl-nav .owl-next:hover {
  background-color: $dark-blue-color;
}
