@import '../../../../styles/abstracts/variables';

section {
  background-image: linear-gradient(360deg, #0000002e, #0000002e), url(/images/services/service-details-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  font-family: $font-bold;
  color: $dark-blue-color;

  .service-title {


    .icon-image {
      width: 110px;
      margin-bottom: 1rem;
      filter: brightness(85);
    }

    h2 {
      font-size: 2rem;
      background-color: white;
      border-radius: 5rem;
      word-spacing: .5rem;
    }

    p {
      font-family: $font-regular;
    }

  }

  .service-image {
    img {
      filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5))
    }
  }

  .back-btn {



    color: white;
    background: linear-gradient(0deg, $dark-red , $red-color );
    border-radius: 2rem;
  }

}